@import "./theme.scss";

body {
	background: var(--bg-color);
	color: var(--fg-color);
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 40px;
}

p {
	margin: 0;
}

a {
	border-bottom: 2px dotted;
	text-decoration: none;
	color: inherit;
}

button {
	color: inherit;
	font: inherit;
	background: var(--secondary);
	border: none;
	border-radius: 4px;
	padding: 4px 6px;
	cursor: pointer;
}
