.navbar {
	margin: 20px 0;

	ul {
		display: flex;
		align-items: center;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li {
		margin-right: 10px;
	}

	.btnToggleTheme {
		background: none;
		border: none;
		color: inherit;
		font: inherit;
		padding: 4px;
		cursor: pointer;

		img {
			width: 18px;
			margin-bottom: -3px;
		}
	}
}
