:go:func Contact()

doctype html
html(lang='en')
	head
		include ./includes/head.pug
		link(rel="stylesheet" href="/static/css/contact.css")
	body
		include ./includes/header.pug
		p
			| Under construction.
		include ./includes/footer.pug
