:go:func Index()

doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		link(rel="stylesheet" href="./static/css/index.css")
		title Kees van Voorthuizen
	body
		include ./includes/navbar.pug
		p Hello world!
