:go:func Index()

doctype html
html(lang="en")
	head
		include ./includes/head.pug
	body
		include ./includes/header.pug
		p
			strong Hi there!
		p
			| My name is Kees van Voorthuizen — I'm an 18-year-old passionate
			|  and self-taught developer.
		p
			| I am a Dutch guy living in
			strong  The Hague, The Netherlands
			| . I love Linux, programming, open source, minimal software,
			|  drum'n'bass, coffee, cats and tinkering with my computer.
		p
			| In addition, I have a strong passion for languages — not only
			|  programming languages, but also human languages. I'm also
			|  fairly detail-oriented. Hit me up!
		img.me(src="/static/assets/me.jpg" width="300" alt="picture of me")
		include ./includes/footer.pug
